{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {%  endfor %}
    <h1 class="text-center m-3">Posts</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="{{ path('post.show', { id: post.id }) }}">{{ post.title }}</a></td>

                <td>
                    <a href="{{ path('post.delete', { id: post.id }) }}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}